body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.usererror {
  margin-top: 10px;
  margin-bottom: 5px;
}

.passerror {
  margin-top: -20px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-left: 15px;
  display: block;
}

.input-error {
  border: 1px solid red !important;
}

.input-error:focus {
  border: 1px solid red;
  transform: .5s;
}

.half-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}


.fullscreen-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

@media (max-width: 550px){
  .half-background {
    display: block;
    overflow: hidden;
  }
  .fullscreen-background {
    display: none;
    overflow: hidden;
  }
  
}

.login-container {
  position: absolute;
  top: 15%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30%;
  height: auto;
}



@media (max-width: 550px){
  .login-container {
    top: 3%;
  }
}

.logo-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 100px;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 35px 0px;
  margin-bottom: 30px;
}

.logo-holder-logo {
  width: 232px;
  height: 60px;
  cursor: pointer;
}

.login-form-logo{
  width: 120px;
  margin-top: 50px;
  display: none;
  cursor: pointer;
}

.username,
.password {
  color: rgb(255, 255, 255);
}

.login-form h4{
  text-align: center;
  font-weight: 700;
  color: rgb(135, 135, 135);
  margin-bottom: 30px;
  margin-left: -40px;
}

.hint-container {
  background-color: #808080;
  width: 500px;
  border-radius: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
}

.label {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 5px;
}

#username,
#password {
  width: 480px;
  margin-left: 8px;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  outline: none;
}

#password {
  margin-bottom: 30px;
}

#password:focus,
#username:focus {
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 6px 0px;
}

.button {
  width: 480px;
  margin-left: 10px;
  background-color: #d9d9d9;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
  font-size: 14px;
  margin-bottom: 20px;
}

.button:hover {
  opacity: 0.8;
}

.forgot-password {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #000000;
  margin-left: -25px;
}

.forgot-password:hover {
  color: #959595;
  color: #000000;
}

.date {
  text-align: center;
  color: #3d3d3d;
  margin-left: -25px;
}

.fa-facebook {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: 1%;
  background: #585858;
  color: white;
}

.fa-facebook:hover {
  background: #585858;
  color: white;
}

.fa-linkedin {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: 2.8%;
  background: #585858;
  color: white;
}

.fa-linkedin:hover {
  background: #585858;
  color: white;
}

.fa-twitter {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: 4.6%;
  background: #585858;
  color: white;
}

.fa-twitter:hover {
  background: #585858;
  color: white;
}

.fa-youtube-play {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  left: 6.5%;
  background: #585858;
  color: white;
}

.fa-youtube-play:hover {
  display: block;
  background: #585858;
  color: white;
}

@media (max-width: 550px){
  .logo-holder {
    background-color: #fff;
    margin-left: 100px;
    width: 450px;
    height: 100px;
    border-radius: 15px;
  }

  .loginForm{
    margin-left: 28px;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: auto;
  }

  .login-form-logo{
    width: 120px;
    margin-top: 30px;
    display: block;
  }

  .login-form h4{
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .hint-container {
    background-color: #808080;
    width: 380px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  #username,
  #password {
  width: 380px;
  }

  .button {
    width: 380px;
  }

  .date {
    margin-left: 0px;
  }

  .forgot-password {
    margin-left: 10px;
  }

  .fa-facebook {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #585858;
    color: white;
    position: absolute;
    left: 38.5%;
    bottom: 1%;
  }
  .fa-linkedin {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #585858;
    color: white;
    position: absolute;
    left: 44.5%;
    bottom: 1%;
  }
  .fa-twitter {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #585858;
    color: white;
    position: absolute;
    left: 50.5%;
    bottom: 1%;
  }
  .fa-youtube-play {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #585858;
    color: white;
    position: absolute;
    left: 56.5%;
    bottom: 1%;
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .half-background {
    display: block;
    overflow: hidden;
    height: auto;
    width: 1000px;
  }
  .fullscreen-background {
    display: none;
    overflow: hidden;
  }
  
  .login-container {
    position: absolute;
    top: 3%;
    left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 10%;
    height: auto;
  }

  .logo-holder {
    background-color: #fff;
    margin-left: 325px;
    width: 900px;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 50px;
  }

  .logo-holder-logo {
    width: 302px;
    height: 80px;
    cursor: pointer;
  }

  .loginForm{
    margin-left: 28px;
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 325px;
    background-color: white;
    border-radius: 15px;
    width: 900px;
    height: auto;
  }

  .login-form-logo{
    width: 220px;
    margin-top: 80px;
    display: block;
  }

  .login-form h4{
    font-size: 2.5rem;
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .hint-container {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 350;
    background-color: #808080;
    width: 700px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  #username {
    margin-bottom: -30px;
    display: block;
    width: 700px;
    margin-left: 18px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    outline: none;
    margin-left: -28px;
  }
  
  #password {
    display: block;
    width: 700px;
    margin-left: 18px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    outline: none;
    margin-left: -28px;
  }
  
  .label {
    margin-left: -20px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .button {
    width: 700px;
    margin-left: -30px;
    background-color: #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    border: none;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .date {
    margin-left: 0px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .forgot-password {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .fa-facebook {
    opacity: 0;
  }
  .fa-linkedin {
    opacity: 0;
  }
  .fa-twitter {
    opacity: 0;
  }
  .fa-youtube-play {
    opacity: 0;
  }
}

